[submodule "backend"]
	path = backend
	url = https://github.com/AI4Bharat/Chitralekha-Backend
	branch = master
[submodule "frontend"]
	path = frontend
	url = https://github.com/AI4Bharat/Chitralekha-Frontend
